# For more information on configuration, see:
#{{ ansible_managed }}

{%if ansible_distribution_major_version == "6" %}
#Nginx for centos 6
user              {{ nginx_user | default ("nginx") }};
worker_processes  {{ nginx_worker_processes | default ("1") }};

{% if nginx_worker_rlimit_nofile is defined %}
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};
{% endif %}

error_log  /var/log/nginx/error.log;

pid        /var/run/nginx.pid;

events {
    worker_connections {{ nginx_max_clients | default ("1024") }};
    use epoll;
    multi_accept {{ nginx_multi_accept | default("on") }};

}

http {
    server_tokens {{nginx_server_tokens | default("off") }};
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" $request_time';

    access_log  /var/log/nginx/access.log  main;

    sendfile        {{ nginx_sendfile | default ("on") }};
    tcp_nopush {{ nginx_tcp_nopush | default("on") }};
    tcp_nodelay {{ nginx_tcp_nodelay | default("on") }};

    keepalive_timeout  {{nginx_time_out | default ("60") }}s;
    keepalive_requests {{ nginx_keepalive_request | default("100") }}; 
    reset_timedout_connection on;
 
    #Enable gzip mod
    gzip {{ nginx_gzip | default ("on") }};
    gzip_min_length {{ nginx_gzip_min_length|default("1000") }};
    gzip_types text/plain text/xml text/css application/x-javascript application/atom+xml application/xml;
    gzip_vary on;
    gzip_comp_level {{ nginx_gzip_comp_level | default("5") }};

   #Enable cachefile
    open_file_cache max=1000 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 2;
    open_file_cache_errors off;
    
    # Load config files from the /etc/nginx/conf.d directory
    # The default server is in conf.d/default.conf
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;

}
{%endif %}
